@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

.min-h-screen {
  min-height: 100vh;
}

input, select {
  @apply border-gray-300 focus:border-blue-500 focus:ring-blue-500;
}